@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<Root>
    <ColumnsLayout>
        <GroupBox Label="Box #1">
            <ColumnsLayout>
                <RowsLayout>
                    <TextBox />
                    <CheckBox />
                </RowsLayout>
                <RowsLayout>
                    <TextBox />
                    <CheckBox />
                </RowsLayout>
            </ColumnsLayout>
        </GroupBox>
        <GroupBox Label="Box #2">
            <ColumnsLayout>
                <RowsLayout>
                    <TextBox />
                    <CheckBox />
                </RowsLayout>
                <RowsLayout>
                    <TextBox />
                    <CheckBox />
                </RowsLayout>
            </ColumnsLayout>
        </GroupBox>
    </ColumnsLayout>
</Root>
