@inherits _ColumnsLayout
<ControlContent>
    <table class="cnjr-columnslayout" style="border: solid 1px #00ff21; margin: 5px; padding: 5px;">
        <tr class="cnjr-columnslayout-content-row" style="border: solid 1px #b6ff00; margin: 5px; padding: 5px;">
            <ContainerContent Content="ChildContent">
                <Template>
                    <td class="cnjr-rowslayout-content-value" style="border: solid 1px #ffd800; margin: 5px; padding: 5px;">
                        @context.Content
                    </td>
                </Template>
            </ContainerContent>
        </tr>
    </table>
</ControlContent>