@inherits _RowsLayout
<ControlContent>
    <table class="cnjr-rowslayout" style="border: solid 1px #00ff21; margin: 5px; padding: 5px;">
        <ContainerContent Content="ChildContent">
            <Template>
                <tr class="cnjr-rowslayout-content-row" style="border: solid 1px #b6ff00; margin: 5px; padding: 5px;">
                    <td class="cnjr-rowslayout-content-value" style="border: solid 1px #ffd800; margin: 5px; padding: 5px;">@context.Content</td>
                </tr>
            </Template>
        </ContainerContent>
    </table>
</ControlContent>
