@inherits _TextBlock
<ControlContent Label="@Label" LabelPosition="@LabelPosition">
    <div class="cnjr-textblock" style="border: solid 1px red; padding: 5px;">
        @ChildContent
    </div>
</ControlContent>
